* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000000;
  color: #dadadaa1;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > p {
  text-align: center;
  font-size: 1.5em;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

main > ul, ol, li {
  margin: 20px 0;
  padding-left: 40px;
  margin-bottom: 10px;
}

/* Set unclicked links to green */
a {
  color: green;
}

/* Set clicked links to match the same color as defined on line 10 */
a:visited {
  color: #dadadaa1;
}
