* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000000;
  color: #dadadaa1;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > p {
  text-align: center;
  font-size: 1.5em;
}

main > h1 {
  text-align: center;
  font-size: 6.5em;
}

main > h2 {
  text-align: center;
  font-size: 5.5em;
}


main > h3 {
  text-align: center;
  font-size: 4.5em;
}


main > h4 {
  text-align: center;
  font-size: 3.5em;
}


main > h5 {
  text-align: center;
  font-size: 2.5em;
}


main > h6 {
  text-align: center;
  font-size: 2.0em;
}

main > ul, ol, li {
  margin: 20px 0;
  padding-left: 40px;
  margin-bottom: 10px;
}

a {
  color: green;
}

a:visited {
  color: #dadadaa1;
}


